
h2{
    text-align: center;
    color:purple;
}

h3{
    text-align: center;
    color: green;
}

a:hover{
    color: red;
}

.colorChange{
    color: dodgerblue;
}

.colorChange2{
    color: #ff9900;
}

#differentColor{
    color: violet; 
}

.imageCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

*{
    box-sizing: border-box;
}

.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

#pictureColorChange{
    filter: grayscale(75%);
}

#pictureColorChange2{
    filter: invert(100%);
}